.slidermain {
  /* height: 300px; */
  width: 100%;
  /* margin-top: 40px; */
  margin-bottom: 20px;
  background-color: rgb(240, 244, 246);
  /* border: 2px solid blue; */
  padding-top:30px;
  padding-bottom: 20px;
}
.slider {
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 200px;
  margin: auto;
}
.ourclients {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  margin-top: 5vh;
  /* margin-bottom: 3vh; */
  border:2px solid rgb(157, 161, 157);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: fit-content;
  justify-content: center;
  border-top: 2px;
  border-left: 2px;
  border-radius: 20px;
  
}
.slidercom {
  width: 2000px;
  height: 140px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  
}
.logoimg {
  height: 130px;
  width: 1000px;
  border: 7px solid rgb(211, 212, 209);
}
.slidertrack {
  display: flex;
  width: calc(250px * 12);
  animation: scroll 70s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
}
